debug: "{{ lookup('env', 'DEBUG') | default(false) | bool }}"

temp_directory: "/tmp/ansible_home"

infiscal_url: "{{ lookup('env', 'INFISCAL_URL') }}"
infiscal_project_id: "{{ lookup('env', 'INFISCAL_PROJECT_ID') }}"
infiscal_environment_slug: "{{ lookup('env', 'INFISCAL_ENVIRONMENT_SLUG') }}"

k8s_version: "1.34.1"
k8s_major_version: "{{ k8s_version.split('.')[0] }}.{{ k8s_version.split('.')[1] }}"
k8s_service_cidr: "10.96.0.0/12"
k8s_pod_network_cidr: "10.244.0.0/16"
k8s_container_runtime: "containerd"
k8s_container_runtime_socket: "/var/run/containerd/containerd.sock"
k8s_cni: "calico"
k8s_cni_version: "3.31.0"
k8s_kubectl_config_dir: "/home/{{ ansible_ssh_user }}/.kube"
k8s_kubectl_config_path: "{{ k8s_kubectl_config_dir }}/config"
k8s_apiserver_ip: "{{ hostvars[groups['k8s_controller'][0]]['ansible_default_ipv4'].address | default(lookup('community.general.dig', groups['k8s_controller'][0] ~ '.local.', fail_on_error=true))}}"
k8s_apiserver_port: 6443
k8s_kubeadm_opts: ""
k8s_init_opts: ""
k8s_discovery_token_secret_name: "k8s-discovery-token"
k8s_discovery_token: "{{ lookup('infisical.vault.read_secrets', secret_name=k8s_discovery_token_secret_name, path='/', project_id=infiscal_project_id, env_slug=infiscal_environment_slug, url=infiscal_url).value }}"
k8s_force_reset: "{{ lookup('env', 'K8S_FORCE_RESET') | default(false) | bool }}"

openebs_zfs_pool_name: "zfspv-pool"
openebs_zfs_pool_device: "/dev/sda1"

ingress_nginx_service_type: "NodePort"
ingress_nginx_service_http_node_port: 30080
ingress_nginx_service_https_node_port: 30443
ingress_nginx_service_cluster_ip: "{{ k8s_service_cidr | ansible.utils.nthhost(-16) }}"

nginx_user: "nginx"
nginx_group: "nginx"
nginx_worker_processes: 1
nginx_worker_connections: 1024
nginx_external_port: 443
nginx_external_network_server_name: "parkl.ee"
nginx_internal_port: 80
nginx_internal_network_server_name: "{{ ansible_default_ipv4 }}"
nginx_internal_network_allowed_cidrs: ["192.168.1.0/24"]
nginx_upstream_service: "{{ ingress_nginx_service_cluster_ip }}"
nginx_upstream_port: "{{ ingress_nginx_service_http_node_port }}"
nginx_upstream_proto: "http"

