- name: Install nginx
  ansible.builtin.apt:
    name: nginx
    state: present
  become: true

- name: Ensure nginx is started and enabled
  ansible.builtin.service:
    name: nginx
    state: started
    enabled: true
  become: true
