- name: Add akri repo to helm
  ansible.builtin.shell: |
    helm repo add akri https://project-akri.github.io/akri/ --kubeconfig={{ k8s_kubectl_config_path }}
  register: helm_add_repo
  changed_when: "'has been added' in helm_add_repo.stdout"

- name: Install akri via helm
  ansible.builtin.shell: |
    helm upgrade --install akri akri/akri --create-namespace --namespace akri --set udev.discovery.enabled=true --kubeconfig={{ k8s_kubectl_config_path }}
  register: helm_install_akri
  changed_when: "'Installing it now' in helm_install_akri.stdout or 'Upgrading release' in helm_install_akri.stdout"
