- name: Add OpenEBS repo to helm
  ansible.builtin.shell: |
    helm repo add openebs https://openebs.github.io/openebs --kubeconfig={{ k8s_kubectl_config_path }}
  register: helm_add_repo
  changed_when: "'has been added' in helm_add_repo.stdout"

- name: Install OpenEBS via helm
  ansible.builtin.shell: |
    helm upgrade --install openebs \
                --namespace openebs openebs/openebs \
                --set engines.replicated.mayastor.enabled=false \
                --set zfs-localpv.zfsNode.kubeletDir=/var/lib/kubelet \
                --create-namespace \
                --kubeconfig={{ k8s_kubectl_config_path }}
  register: helm_install_openebs
  changed_when: "'Installing it now' in helm_install_openebs.stdout or 'Upgrading release' in helm_install_openebs.stdout"
