user {{ nginx_user }} {{ nginx_group }};

worker_processes {{ nginx_worker_processes }};

events {
    worker_connections {{ nginx_worker_connections }};
}

http {
    include mime.types;
    default_type application/octet-stream;
    sendfile on;
    keepalive_timeout 65;

    server {
        listen {{ nginx_external_port }} ssl;
        listen [::]:{{ nginx_external_port }} ssl;
        server_name *.{{ nginx_external_network_server_name }};
        client_max_body_size 0;
        location / {
            set $upstream_service {{ nginx_upstream_service }};
            set $upstream_port {{ nginx_upstream_port }};
            set $upstream_proto {{ nginx_upstream_proto }};
            proxy_pass $upstream_proto://$upstream_service:$upstream_port;
        }
    }
    server {
        listen {{ nginx_internal_port }} default_server;
        listen [::]:{{ nginx_internal_port }};
        server_name *.{{ nginx_internal_network_server_name }};
        {% for cidr in nginx_internal_network_allowed_cidrs %}allow {{ cidr }};
        {% endfor %}
        deny all;
        client_max_body_size 0;
        location / {
            set $upstream_service {{ nginx_upstream_service }};
            set $upstream_port {{ nginx_upstream_port }};
            set $upstream_proto {{ nginx_upstream_proto }};
            proxy_pass $upstream_proto://$upstream_service:$upstream_port;
        }
    }
}













