- name: Add minio repo to helm
  kubernetes.core.helm_repository:
    name: minio
    repo_url: https://operator.min.io/
    kubeconfig: "{{ k8s_kubectl_config_path }}"
    force_update: true

- name: Install minio operator via helm
  kubernetes.core.helm:
    name: minio-operator
    chart_ref: minio/operator
    namespace: minio-operator
    create_namespace: true
    kubeconfig: "{{ k8s_kubectl_config_path }}"

- name: Install minio tenant via helm
  kubernetes.core.helm:
    name: minio-tenant
    chart_ref: minio/tenant
    namespace: tenant
    create_namespace: true
    kubeconfig: "{{ k8s_kubectl_config_path }}"
    release_values:
      tenant:
        name: minio-velero
        configSecret:
          name: minio-tenant-secret
          existingSecret: "true"
        buckets:
          - name: "{{ minio_velero_bucket_name }}"
            objectLock: false
            region: "{{ minio_velero_bucket_region }}"
        pools:
          - name: pool0
            servers: 1
            volumesPerServer: 1
            size: 10Gi
            storageLabels:
              app.kubernetes.io/name: minio-pvc
    update_repo_cache: true
    state: present

- name: Create PV for local minio storage
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ k8s_kubectl_config_path }}"
    definition:
      apiVersion: v1
      kind: PersistentVolume
      metadata:
        name: minio-pv
      spec:
        capacity:
          storage: 10Gi
        accessModes:
          - ReadWriteOnce
        persistentVolumeReclaimPolicy: Retain
        hostPath:
          path: "{{ minio_local_storage_path }}"
        nodeAffinity:
            required:
              nodeSelectorTerms:
                - matchExpressions:
                    - key: kubernetes.io/hostname # Or any other node label
                      operator: In
                      values:
                        - "{{ groups['k8s_controller'][0] }}"

- name: Create PVC for local minio storage
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ k8s_kubectl_config_path }}"
    definition:
      apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: minio-pvc
        namespace: tenant
        labels:
          app.kubernetes.io/name: minio-pvc
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 10Gi
        volumeName: minio-pv

- name: Create minio tenant secret
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ k8s_kubectl_config_path }}"
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: minio-tenant-secret
        namespace: tenant
      type: Opaque
      stringData:
        config.env: |-
          export MINIO_ROOT_USER={{ minio_access_key | quote }}
          export MINIO_ROOT_PASSWORD={{ minio_secret_key | quote }}
  no_log: "{{ not debug }}"
