- name: Add ingress-nginx repo to helm
  ansible.builtin.shell: |
    helm repo add ingress-nginx https://kubernetes.github.io/ingress-nginx --kubeconfig={{ k8s_kubectl_config_path }}
  register: helm_add_repo
  changed_when: "'has been added' in helm_add_repo.stdout"

- name: Install ingress-nginx via helm
  ansible.builtin.shell: |
    helm upgrade --install ingress-nginx ingress-nginx/ingress-nginx --create-namespace --namespace ingress-nginx --kubeconfig={{ k8s_kubectl_config_path }}
  register: helm_install_ingress_nginx
  changed_when: "'Installing it now' in helm_install_ingress_nginx.stdout or 'Upgrading release' in helm_install_ingress_nginx.stdout"
